@using RecipeRevolutionBlazor.Services.Users
@inherits LayoutComponentBase
@inject AuthTokenService TokenService
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @{
                if (!string.IsNullOrEmpty(TokenService.Token))
                {
                    <span class="nav-link">Welcome, @TokenService.GetUserNameFromToken() !</span>
                    <button type="button" class="btn btn-warning" @onclick="Logout">Wyloguj</button>
                }
                else
                {
                    <NavLink class="nav-link" href="login">
                        <button type="button" class="btn btn-light">Login</button>
                        
                    </NavLink>
                    <NavLink class="nav-link" href="register">
                        <button type="button" class="btn btn-light">Register</button>
                    </NavLink>
                }
            }
        </div>
            
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void Logout()
    {
        TokenService.RemoveToken();
    }
}
