@page "/"

<PageTitle>Home</PageTitle>

<div class="container my-5">
    <header class="text-center mb-5">
        <h1>Witaj na Recipe Revolution!</h1>
        <p>Odkryj, gotuj i dziel się swoją kulinarną pasją.</p>
        <img src="reciperevolutionnav.png" width="120" height="90" />
    </header>

    <section class="about-project mb-4">
        <h2>Główne założenia aplikacji</h2>
        <p>
            Recipe Revolution to interaktywna platforma dla każdego, kto chce dzielić się swoją pasją do gotowania.
            Niezależnie od tego, czy jesteś doświadczonym kucharzem, czy dopiero zaczynasz swoją przygodę w kuchni,
            to miejsce zostało stworzone, aby inspirować i być inspiracją.
        </p>
    </section>

    <section class="about-me">
        <h2>O mnie</h2>
        <p>Jestem Łukasz Florek, programista i miłośnik kulinariów. Ta strona to połączenie mojej zawodowej pasji do tworzenia oprogramowania i osobistej miłości do gotowania.</p>
    </section>

    <section class="technologies-used mb-4">
        <h2>Wykorzystane Technologie</h2>
        <a href="https://learn.microsoft.com/pl-pl/dotnet/csharp/" target="_blank">
            <img src="images/csharp_original_logo.png" class="image-margin" title="C#" width="96" />
        </a>
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank">
            <img src="images/dot_net.png" class="image-margin" title=".NET" width="96" />
        </a>
        <a href="https://learn.microsoft.com/en-us/ef/core/" target="_blank">
            <img src="images/ef-icon.png" class="image-margin" title="Entity Framework Core" width="96" />
        </a>
        <a href="https://blazor.net" target="_blank">
            <img src="images/blazor.png" class="image-margin" title="Blazor" width="96" height="40" alt="Blazor WebAssembly Icon">
        </a>
        <a href="https://visualstudio.microsoft.com/" target="_blank">
            <img src="images/visual_studio.png" class="image-margin" title="Visual Studio" width="96" />
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">
            <img src="images/html5_icon.png" class="image-margin" title="HTML 5" width="96" />
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
            <img src="images/css3_icon.png" class="image-margin" title="CSS 3" width="96" />
        </a>
        <a href="https://www.postman.com/" target="_blank">
            <img src="images/postman.png" class="image-margin" title="Postman" width="96" />
        </a>
        <a href="https://github.com/" target="_blank">
            <img src="images/github.png" class="image-margin" title="GitHub" width="96" />
        </a>
        <a href="https://swagger.io/" target="_blank">
            <img src="images/swagger_icon.png" class="image-margin" title="Swagger" width="96" />
        </a>
        <a href="https://pl.wikipedia.org/wiki/SQL" target="_blank">
            <img src="images/sql_icon.png" class="image-margin" title="SQL" width="96" />
        </a>


    </section>

</div>

<style>
    .image-margin {
        margin: 8px;
    }
</style>

