@page "/upload-image"
@inject IRecipeService RecipeService
@using System.Net.Http.Headers
@using RecipeRevolutionBlazorApp.Services.Recipes
@inject NavigationManager NavigationManager

<EditForm Model="@this" OnValidSubmit="@UploadImagemetod">

    <div class="form-group">
        <label for="Description">Recipe ID:</label>
        <InputNumber @bind-Value="@recipeId" class="form-control" />
    </div>

    <InputFile OnChange="@OnInputFileChange" />
    <button type="submit">Upload Image</button>
</EditForm>

@code {
    private Stream fileStream;
    private string fileName;
    private int recipeId = 1;

    private async Task UploadImagemetod()
    {
        

        var success = await RecipeService.UploadMainRecipePictureAsync(fileStream, fileName, recipeId);
        if (success != string.Empty)
        {
            Console.WriteLine("Image uploaded successfully");
            NavigationManager.NavigateTo("/my-account", forceLoad: true);
        }
        else
        {
            Console.WriteLine("Failed to upload image");
        }
    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            fileName = file.Name;
            fileStream = file.OpenReadStream();
        }
    }

    
}
