@page "/hello"
@using Microsoft.IdentityModel.Tokens
@using System.IdentityModel.Tokens.Jwt
@using RecipeRevolutionBlazor.Services.Users
@using System.Security.Claims
@inject AuthTokenService AuthTokenService

<h3>Hello</h3>

@if (!string.IsNullOrEmpty(AuthTokenService.Token))
{
    <p>Your token: @AuthTokenService.Token</p>

    <h4>Decoded Token Information:</h4>
    
        var handler = new JwtSecurityTokenHandler();
        var jsonToken = handler.ReadToken(AuthTokenService.Token) as JwtSecurityToken;

        var nameClaim = jsonToken.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Name);
        var userName = nameClaim?.Value;

    <p>Witaj, użytkowniku: @userName</p>

    <ul>
        @foreach (var claim in jsonToken.Claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}
else
{
    <p>No token available.</p>
}
