@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <header class="header">
        <h1>Witaj na mojej stronie z przepisami!</h1>
        <p>Poznaj moje umiejętności programistyczne poprzez moją pasję do gotowania.</p>
    </header>

    <section class="about-me">
        <h2>O mnie</h2>
        <p>Jestem Łukasz Florek, programista i miłośnik kulinariów. Ta strona to połączenie mojej zawodowej pasji do tworzenia oprogramowania i osobistej miłości do gotowania.</p>
    </section>

    

    
</div>



